@charset "UTF-8";
/*Nuevos colores*/
@font-face {
  src: url("../assets/fonts/din1451alt.ttf");
  font-family: DIN; }

@font-face {
  src: url("../assets/fonts/din1451alt G.ttf");
  font-family: DIN-bold; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor {
  align-items: center; }

@media (min-width: 1400px) {
  .contenedor {
    margin-left: 50px;
    margin-right: 50px; } }

@media (min-width: 1500px) {
  .contenedor {
    margin-left: 150px;
    margin-right: 150px; } }

html {
  font-size: 62.5%; }

body {
  font-family: DIN;
  font-style: normal;
  /*font-weight: 300; /*700 bold*/
  background: url("../assets/index/buraleofondo.png");
  background-repeat: space;
  background-position: top;
  height: 100%; }

.header__zposition {
  z-index: 999; }

.navbar-light {
  font-size: 15px;
  box-shadow: 2px 2px 10px #0077B6;
  color: #0077B6;
  background-color: RGBA(242, 246, 248, 0.9);
  position: sticky;
  top: 0;
  padding: 0px;
  margin: 0px; }

.menu__logo {
  width: 80px;
  height: 80px;
  margin: 5px; }

.menu {
  padding: 0px;
  margin: 0px; }

.nav-item .nav-link {
  color: RGB(180, 96, 34); }

.navbar-light .navbar-nav .nav-link {
  color: #0077B6; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: RGB(180, 96, 34); }

.navbar-light .navbar-toggler {
  color: #0077B6;
  border-color: #0077b6; }

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,119,182, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

nav ul {
  display: flex;
  list-style: none;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 0px; }

nav li {
  position: relative;
  padding: 31px; }
  nav li ul {
    display: none; }
  nav li:hover {
    color: RGB(180, 96, 34);
    /*background-image: linear-gradient(to top,rgba(144, 224, 239) ,rgba(255, 255, 255) );*/
    box-shadow: 0 4px 2px -2px RGB(180, 96, 34); }
    nav li:hover ul {
      display: block;
      position: absolute;
      left: 0;
      top: 80px;
      background-color: #f2f6f8;
      color: #0077B6; }

.dropdown-item {
  background-color: RGBA(242, 246, 248, 0.9);
  color: #0077B6;
  font-size: 1.5rem;
  width: 182px;
  text-align: center; }
  .dropdown-item:hover {
    background-color: RGBA(242, 246, 248, 0.9);
    color: #00b4d8; }

.navbar-light .navbar-nav .show > .nav-link {
  color: RGB(180, 96, 34);
  text-decoration: none; }

.dropdown-menu {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 89px;
  left: 0; }

#inicio {
  position: relative; }

.inicio__imagen__uno {
  background-image: url("../assets/index/buraleoportada.jpg"); }

.inicio__imagen__dos {
  background-image: url("../assets/index/trekking2.jpg"); }

.inicio__fondo {
  background-color: transparent; }

.inicio__imagen__fija {
  height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/index/buraleoportada.jpg");
  width: 100%;
  color: white;
  text-align: center;
  display: table;
  animation-name: slide;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate; }
  .inicio__imagen__fija h2 {
    display: table-cell;
    vertical-align: middle;
    height: 300px;
    text-align: center;
    width: 2000px;
    font-size: 5rem;
    color: #f2f6f8; }

@keyframes slide {
  0% {
    background-image: url("../assets/index/buraleoportada.jpg"); }
  33% {
    background-image: url("../assets/index/trekking2.jpg"); }
  67% {
    background-image: url("../assets/index/trekking2.jpg"); } }

.portada {
  position: relative;
  z-index: 2;
  animation-name: aparecerDesaparecer;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate; }

.portada2 {
  position: absolute;
  left: 0; }

@keyframes aparecerDesaparecer {
  0% {
    opacity: 1; }
  45% {
    opacity: 1; }
  55% {
    opacity: 0; }
  100% {
    opacity: 0; } }

/*Aca empieza la sección nosotros*/
#nosotros {
  background-color: RGBA(242, 246, 248, 0.9); }
  #nosotros h3 {
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    color: RGB(180, 96, 34); }
  #nosotros p {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    margin: auto;
    color: RGB(0, 145, 197); }

.nosotros__contenido {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 50px; }

/*.uno{
    background-image: url('../assets/index/buraleoportada.jpg');
}*/
.nosotros__imagen__fondo {
  background-image: url("../assets/index/montaniasfondo.jpg"); }

.nosotros__imagen__fija, .actividades__imagen__fija {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  display: table; }
  .nosotros__imagen__fija h1, .actividades__imagen__fija h1 {
    display: table-cell;
    vertical-align: middle;
    height: 600px; }

.nosotros__fondo {
  background-color: RGBA(2, 62, 138, 0.7); }

.nosotros__texto {
  justify-content: center; }

.nosotrosequipo {
  margin: 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .nosotrosequipo img {
    height: 400px;
    margin: auto; }

/*aca termina la sección nosotros*/
/*actividades*/
#actividades {
  background-color: RGB(180, 96, 34);
  padding-top: 70px;
  padding-bottom: 70px; }
  #actividades h3 {
    color: white;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 40px; }

.actividades__contenido {
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center; }
  .actividades__contenido p {
    padding-top: 3px;
    color: white;
    font-size: 2rem; }

.actividades__contenido__principal {
  display: flex;
  flex-flow: row wrap; }

.actividades__icono {
  width: 100px;
  height: 100px; }
  .actividades__icono img {
    max-width: 100%;
    margin: auto; }

.container {
  position: relative;
  padding: 10px; }
  .container img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover; }
  .container:hover .overlay {
    opacity: 1; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100;
  opacity: 0;
  background-color: RGBA(2, 62, 138, 0.7);
  transition: .5s ease; }

.texto {
  color: RGBA(242, 246, 248, 0.9);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bolder; }

/*galeria index*/
#galeria {
  background-color: #0077B6;
  padding-top: 70px; }
  #galeria h2 {
    color: #f2f6f8;
    text-align: center;
    font-size: 4rem;
    padding-bottom: 50px; }

.crop {
  padding: 0px;
  margin: 0px;
  overflow: hidden; }
  .crop img {
    width: 100%;
    object-fit: cover;
    display: block;
    transition: transform .5s linear; }
  .crop:hover img {
    transform: scale(1.1); }

.gridimagenes {
  display: flex;
  flex-flow: row wrap;
  margin: 20px; }

.banner {
  text-align: center;
  padding: 10px;
  font-size: 3rem;
  color: #f2f6f8;
  text-decoration: none; }
  .banner a {
    text-decoration: none;
    color: #f2f6f8; }

/*aca termina galeria*/
table {
  border: 1px solid black;
  border-width: 1;
  text-align: center;
  position: center;
  margin: auto;
  font-size: 2rem; }

th {
  border: 1px solid black; }

td {
  border: 1px solid black; }

/*comienzo de footer*/
footer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background-color: #4a4444;
  color: white;
  justify-content: space-around;
  align-items: center; }
  footer a {
    text-decoration: none;
    color: white; }
  footer ul {
    list-style: none; }

.footer__logo {
  width: 100px;
  height: 90px;
  margin: 20px; }

.footer__iconos {
  margin-right: 5px;
  width: 20px;
  height: 20px; }

/*Página actividades */
.actividad {
  font-size: 2rem;
  width: 100%;
  padding: 20px; }

/*.imagen{
    max-width: 50%;
    margin: 20px;
}*/
.actividades__imagen__fondo {
  background-image: url("../assets/index/montaniasfondo.jpg"); }

.actividades__imagen__fija h2 {
  display: table-cell;
  vertical-align: middle;
  height: 80px;
  text-align: center;
  width: 2000px;
  font-size: 3rem; }

.actividades__titulo {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: #0077B6;
  border-bottom: 1px solid RGBA(2, 62, 138, 0.7); }

.actividades__descripcion {
  color: black; }

/*seccion galeria*/
.cbp-panel {
  margin-top: 15px;
  margin-bottom: 15px; }

.cbp-item {
  width: 25%; }

.cbp-lightbox:hover img {
  transform: scale(1.1); }

.cbp-lightbox img {
  width: 100%;
  object-fit: cover;
  display: block;
  transition: transform .5s linear; }

.galeria__fondo {
  background-color: RGB(180, 96, 34, 0.7); }

.cbp-l-filters-buttonCenter .cbp-filter-item.cbp-filter-item-active {
  color: white;
  background-color: RGB(0, 145, 197);
  border: 0; }

.cbp-l-filters-buttonCenter .cbp-filter-item {
  border-radius: 10px;
  border-color: RGB(180, 96, 34);
  color: RGB(180, 96, 34); }

/*Seccion contacto*/
.contenidocontacto {
  background-image: url("../assets/index/trekking.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.formulario {
  display: flex;
  background-color: RGBA(242, 246, 248, 0.9);
  opacity: 95%;
  margin: 50px;
  padding: 2rem;
  font-size: 2rem;
  width: 27%;
  flex-flow: column wrap;
  border-radius: 15px; }
  .formulario textarea {
    width: 90%;
    height: 150px; }
