@charset "UTF-8";
/*Nuevos colores*/
@font-face {
  src: url("../assets/fonts/din1451alt.ttf");
  font-family: DIN; }

@font-face {
  src: url("../assets/fonts/din1451alt G.ttf");
  font-family: DIN-bold; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor {
  align-items: center; }

@media (min-width: 1400px) {
  .contenedor {
    margin-left: 50px;
    margin-right: 50px; } }

@media (min-width: 1500px) {
  .contenedor {
    margin-left: 150px;
    margin-right: 150px; } }

@media (max-width: 650px) {
  .inicio__texto {
    font-size: 4rem; } }

html {
  font-size: 62.5%; }

body {
  font-family: DIN;
  font-style: normal;
  /*font-weight: 300; /*700 bold*/
  background: url("../assets/index/buraleofondo.png");
  background-repeat: space;
  background-position: top;
  height: 100%; }

.header__zposition {
  z-index: 999; }

.navbar-light {
  font-size: 15px;
  color: #0077B6;
  background-color: RGBA(242, 246, 248, 0.9);
  position: sticky;
  top: 0;
  padding: 0px;
  margin: 0px; }

.menu__logo {
  width: 80px;
  height: 80px;
  margin: 5px; }

.slide-in-blurred-bottom {
  animation: slide-in-blurred-bottom 0.4s cubic-bezier(0.23, 1, 0.32, 1) 3.7s both; }

@keyframes slide-in-blurred-bottom {
  0% {
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 100%;
    filter: blur(40px);
    opacity: 0; }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1; } }

.menu {
  padding: 0px;
  margin: 0px; }

.nav-item .nav-link {
  color: RGB(215, 93, 20); }

.navbar-light .navbar-nav .nav-link {
  color: #0077B6; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: RGB(215, 93, 20); }

.navbar-light .navbar-toggler {
  color: #0077B6;
  border-color: #0077b6; }

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,119,182, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

nav ul {
  display: flex;
  list-style: none;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 0px; }

nav li {
  position: relative;
  padding: 31px; }
  nav li ul {
    display: none; }
  nav li:hover {
    color: RGB(215, 93, 20);
    box-shadow: 0 4px 2px -2px RGB(215, 93, 20); }
    nav li:hover ul {
      display: block;
      position: absolute;
      left: 0;
      top: 80px;
      background-color: #f2f6f8;
      color: #0077B6; }

.dropdown-item {
  background-color: RGBA(242, 246, 248, 0.9);
  color: #0077B6;
  font-size: 1.5rem;
  width: 182px;
  text-align: center; }
  .dropdown-item:hover {
    background-color: RGBA(242, 246, 248, 0.9);
    color: #00b4d8; }

.navbar-light .navbar-nav .show > .nav-link {
  color: RGB(215, 93, 20);
  text-decoration: none; }

.dropdown-menu {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 89px;
  left: 0; }

#inicio {
  position: relative; }

.inicio__imagen__uno {
  background-image: url("../assets/index/buraleoportada.jpg"); }

.inicio__imagen__dos {
  background-image: url("../assets/index/trekking2.jpg"); }

.inicio__fondo {
  background-color: RGBA(242, 246, 248, 0.5);
  display: flex;
  flex-flow: column wrap;
  height: 500px;
  align-items: start;
  justify-content: flex-end;
  width: 100%;
  margin: auto;
  position: relative; }

.inicio__imagen__fija {
  height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/index/buraleoportada.jpg");
  width: 100%;
  color: white;
  display: flex;
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  align-items: center; }

.contenedor__logo__animado {
  position: absolute;
  top: 13%;
  width: 100%;
  margin: auto;
  text-align: center; }

.slide-out-blurred-top {
  animation: slide-out-blurred-top 0.45s cubic-bezier(0.755, 0.05, 0.855, 0.06) 3.5s both; }

@keyframes slide-out-blurred-top {
  0% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 0%;
    filter: blur(0);
    opacity: 1; }
  100% {
    transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(40px);
    opacity: 0; } }

.inicio__logo__externo {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 10%;
  text-align: center;
  -webkit-animation: rotation 20s infinite linear; }
  .inicio__logo__externo img {
    width: 25%;
    margin: auto; }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }

.inicio__logo__interno {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 10%;
  text-align: center; }
  .inicio__logo__interno img {
    width: 25%;
    margin: auto; }

.slide-in-blurred-bottom2 {
  animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) 4s both; }

.inicio__tercer__titulo {
  color: RGBA(215, 93, 20, 0.8);
  font-weight: bolder;
  margin: 0px; }
  .inicio__tercer__titulo h2 {
    font-size: 7rem;
    width: 100%; }
  .inicio__tercer__titulo .inicio__texto {
    font-size: 7rem;
    width: 100%; }

.puff-in-center {
  animation: puff-in-center 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5s both; }

@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0; }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1; } }

@keyframes slide {
  0% {
    background-image: url("../assets/index/buraleoportada.jpg"); }
  30% {
    background-image: url("../assets/index/trekking2.jpg"); }
  60% {
    background-image: url("../assets/index/portada3.jpg"); }
  90% {
    background-image: url("../assets/index/portada4.jpg"); } }

.portada {
  position: relative;
  z-index: 2;
  animation-name: aparecerDesaparecer;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate; }

.portada2 {
  position: absolute;
  left: 0; }

@keyframes aparecerDesaparecer {
  0% {
    opacity: 1; }
  45% {
    opacity: 1; }
  55% {
    opacity: 0; }
  100% {
    opacity: 0; } }

/*Aca empieza la sección nosotros*/
#nosotros {
  background-color: RGBA(242, 246, 248, 0.9); }
  #nosotros h3 {
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    color: RGB(215, 93, 20); }
  #nosotros p {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    margin: auto;
    color: RGB(0, 145, 197); }

.nosotros__contenido {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 50px; }

/*.nosotros__imagen__fondo{
    background-image: url('../assets/index/montaniasfondo.jpg');
}*/
.nosotros__imagen__fija, .actividades__imagen__fija {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  display: table; }
  .nosotros__imagen__fija h1, .actividades__imagen__fija h1 {
    display: table-cell;
    vertical-align: middle;
    height: 600px; }

.nosotros__fondo {
  background-color: RGBA(0, 145, 197, 0.7); }

.nosotros__texto {
  justify-content: center; }

/*aca termina la sección nosotros*/
/*Seccion equipo buraleo*/
.equipo__imagen__fija {
  height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/index/team3.jpg");
  width: 100%;
  color: white;
  display: flex;
  align-items: center; }

.equipo__fondo {
  background-color: RGBA(120, 109, 109, 0.6);
  display: flex;
  flex-flow: row wrap;
  height: 500px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  position: relative;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bolder; }

.equipo__descripcion {
  border: 0.5px solid white; }

.equipo__team4 img {
  width: 100%; }

.equipo__team3 img {
  width: 100%; }

/*actividades*/
#actividades {
  background-color: RGB(215, 93, 20);
  padding-top: 50px;
  padding-bottom: 70px; }
  #actividades h3 {
    color: white;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 40px; }

.actividades__contenido {
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center; }
  .actividades__contenido p {
    padding-top: 3px;
    color: white;
    font-size: 2rem; }

.actividades__contenido__principal {
  display: flex;
  flex-flow: row wrap; }

.actividades__icono {
  width: 100px;
  height: 100px; }
  .actividades__icono img {
    max-width: 100%;
    margin: auto; }

.container {
  position: relative;
  padding: 10px; }
  .container img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover; }
  .container:hover .overlay {
    opacity: 1; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100;
  opacity: 0;
  background-color: RGBA(2, 62, 138, 0.7);
  transition: .5s ease; }

.texto {
  color: RGBA(242, 246, 248, 0.9);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bolder; }

/*galeria index*/
#galeria {
  background-color: RGB(0, 145, 197);
  padding-top: 70px; }
  #galeria h2 {
    color: #f2f6f8;
    text-align: center;
    font-size: 4rem;
    padding-bottom: 50px; }

.gridimagenes {
  display: flex;
  flex-flow: row wrap;
  margin: 20px; }

.banner {
  text-align: center;
  padding: 10px;
  font-size: 3rem;
  color: #f2f6f8;
  text-decoration: none; }
  .banner .btn {
    border-radius: 15px;
    background-color: RGB(215, 93, 20);
    font-size: 2rem;
    color: RGBA(242, 246, 248, 0.9); }

/*aca termina galeria*/
table {
  border: 1px solid black;
  border-width: 1;
  text-align: center;
  position: center;
  margin: auto;
  font-size: 2rem; }

th {
  border: 1px solid black; }

td {
  border: 1px solid black; }

/*comienzo de footer*/
footer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background-color: #4a4444;
  color: white;
  justify-content: space-around;
  align-items: center;
  height: 145px;
  font-size: 1.5rem; }
  footer a {
    text-decoration: none;
    color: white; }
  footer ul {
    list-style: none; }

.footer__logo {
  width: 100px;
  height: 90px;
  margin: 20px; }

.footer__iconos {
  margin-right: 5px;
  width: 20px;
  height: 20px; }

/*Página actividades */
.actividad {
  font-size: 2rem;
  width: 100%;
  padding: 20px; }

/*.imagen{
    max-width: 50%;
    margin: 20px;
}*/
.actividades__imagen__fondo {
  background-image: url("../assets/index/montaniasfondo.jpg"); }

.actividades__imagen__fija h2 {
  display: table-cell;
  vertical-align: middle;
  height: 80px;
  text-align: center;
  width: 2000px;
  font-size: 3rem; }

.actividades__titulo {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: #0077B6;
  border-bottom: 1px solid RGBA(2, 62, 138, 0.7); }

.actividades__descripcion {
  color: black; }

/*seccion galeria*/
.cbp-panel {
  margin-top: 15px;
  margin-bottom: 15px; }

.cbp-item {
  width: 25%; }

.cbp-lightbox:hover img {
  transform: scale(1.1); }

.cbp-lightbox img {
  width: 100%;
  object-fit: cover;
  display: block;
  transition: transform .5s linear; }

.galeria__fondo {
  background-color: RGBA(215, 93, 20, 0.8); }

.cbp-l-filters-buttonCenter .cbp-filter-item.cbp-filter-item-active {
  color: white;
  background-color: RGB(0, 145, 197);
  border: 0; }

.cbp-l-filters-buttonCenter .cbp-filter-item {
  border-radius: 10px;
  border-color: RGB(215, 93, 20);
  color: RGB(215, 93, 20); }

/*Seccion contacto*/
.contenidocontacto {
  background-image: url("../assets/index/trekking.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%; }

.formulario {
  background: rgba(0, 145, 197, 0.7);
  border-radius: 15px;
  color: white;
  margin: 30px; }
  .formulario legend {
    text-align: center;
    font-size: 3rem;
    margin: auto;
    width: 70%;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 10px; }
  .formulario textarea {
    width: 100%;
    height: 150px;
    opacity: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    color: RGB(0, 145, 197);
    border-radius: 10px; }
  .formulario input {
    opacity: 75%; }
  .formulario label {
    font-size: 2rem; }
  .formulario select {
    font-size: 2rem;
    color: RGB(0, 145, 197); }
  .formulario button {
    margin-bottom: 10px;
    background-color: RGB(215, 93, 20);
    font-size: 2rem;
    width: 100%;
    border-radius: 10px;
    border: 0; }
    .formulario button:hover {
      background-color: #de650c; }
