$azulprimario: #0077B6;
$celesteNavbar:RGBA(242, 246, 248, 0.9);//se aclara porque es RGBA
$azulCeleste:#00b4d8;
$primariorgba:RGBA(2, 62, 138,0.7);
$circuloinicio:RGBA(83, 79, 79, 0.8);
/*Nuevos colores*/

$anaranjadoPrueba:RGB(240,98,50);
//$anaranjadoRGB:RGB(180,96,34);
$anaranjadoRGB:RGB(215,93,20);
$azulRGB:RGB(0,145,197);
$anaranjadoRGBA:RGBA(180,96,34,0.7);
$azulRGBA:RGBA(0,145,197, 0.7);